[Desktop Entry]
Version=1.0
Type=Application
Name=Ice Book Reader
Comment=
Exec=env WINEPREFIX="{{home_path}}/.wine" wine "{{home_path}}/.wine/drive_c/Program Files (x86)/ICE Book Reader/ICEReaderRus.exe"
Icon=x-office-document-rtl
Path=
Terminal=false
StartupNotify=false
