[Desktop Entry]
Version=1.0
Type=Application
Name=Viber
Comment=Viber VoIP and messenger
Exec=/opt/viber/Viber %u
Icon=/opt/viber/icons/Viber.svg
Path=
Terminal=false
StartupNotify=false
